
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // REGRAS TOTAIS ABERTAS - DESENVOLVIMENTO
    // QUALQUER PESSOA PODE LER E ESCREVER EM QUALQUER DOCUMENTO
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
